<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.984777438583-18g6f35ie4pjaj1c04e2aq15sag9prgb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>984777438583-18g6f35ie4pjaj1c04e2aq15sag9prgb.apps.googleusercontent.com</string>
	<key>KAKAO_APP_KEY</key>
	<string>f3000c7055abd894c24906e13bbbdc2d</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao0123456789abcdefghijklmn</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>[858e9e793fc6c3f9b315843f39f9cca9]</string>
		<string>kakaotalk-4.5.0</string>
		<string>kakaostory-2.9.0</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
